
@{
    ViewBag.Title = "Respuesta";
}

<div class="container">
    
    <!--Header Resultados-->
    <div class="row header-result">
        <div class="col-xs-12 col-sm-7">
            <h2>Resultados de Comida Italiana</h2>
        </div>
        <div class="col-xs-12 col-sm-5 filtros">
            <span>Ordenar por: </span><span class="filter-opt pointer" data-filteropt="1"><strong>Precio</strong></span> <strong>|</strong> <span class="filter-opt pointer">Vistas</span> <strong>|</strong> <span class="filter-opt pointer">Estrellas</span>
        </div>
    </div>
    <!--/Resultados-->

    <section class="resultados">
        <div class="ele-res">
            <img src="/assets/img/foods/italian-food-1.jpg" alt="nombre de platillo" />
            <div class="block-data">
                <div class="">
                    <a href="http://localhost:26741/Index/Restaurante" class="name-restaurant">Mi Restarurante</a>
                    <span class="stars-restaurant"><img src="/assets/img/star-1.png" alt="star" /><img src="/assets/img/star-1.png" alt="star" /><img src="/assets/img/star-1.png" alt="star" /><img src="/assets/img/star-2.png" alt="star" /><img src="/assets/img/star-3.png" alt="star" /></span>
                </div>
                <div class="">
                    <a href="http://localhost:26741/Index/Platillo" class="name-platillo">Nombre Platillo</a>
                    <span class="views"><span class="views-platillo">267</span> <i class="fa fa-eye" aria-hidden="true"></i></span>
                </div>
                <div class="">
                    <span class="price-platillo">$0.00</span>
                    <span class="share-platillo tooltip-share">
                        <i class="fa fa-share-alt" aria-hidden="true"></i>
                        <!--tooltip compartir-->
                        <div class="tooltip-share-content">
                            <!-- Facebook -->
                            <a class="btn-social" href="http://www.facebook.com/sharer.php?u=--URL A COMPARTIR--" target="_blank">
                                <i class="fa fa-facebook" aria-hidden="true"></i>
                            </a>
                            <!-- Google+ -->
                            <a class="btn-social" href="https://plus.google.com/share?url=--URL A COMPARTIR--" target="_blank">
                                <i class="fa fa-google-plus" aria-hidden="true"></i>
                            </a>
                            <!-- Twitter -->
                            <a class="btn-social" href="https://twitter.com/share?url=--URL A COMPARTIR--" target="_blank">
                                <i class="fa fa-twitter" aria-hidden="true"></i>
                            </a>
                        </div>
                    </span>
                    <!--/share-platillo-->
                </div>
            </div>
        </div>
        <!--/ele-res-->
        <div class="ele-res">
            <img src="/assets/img/foods/italian-food-2.jpg" alt="nombre de platillo" />
            <div class="block-data">
                <div class="">
                    <a href="http://localhost:26741/Index/Restaurante" class="name-restaurant">Mi Restarurante</a>
                    <span class="stars-restaurant"><img src="/assets/img/star-1.png" alt="star" /><img src="/assets/img/star-1.png" alt="star" /><img src="/assets/img/star-1.png" alt="star" /><img src="/assets/img/star-2.png" alt="star" /><img src="/assets/img/star-3.png" alt="star" /></span>
                </div>
                <div class="">
                    <a href="http://localhost:26741/Index/Platillo" class="name-platillo">Nombre Platillo</a>
                    <span class="views"><span class="views-platillo">267</span> <i class="fa fa-eye" aria-hidden="true"></i></span>
                </div>
                <div class="">
                    <span class="price-platillo">$0.00</span>
                    <span class="share-platillo tooltip-share">
                        <i class="fa fa-share-alt" aria-hidden="true"></i>
                        <!--tooltip compartir-->
                        <div class="tooltip-share-content">
                            <!-- Facebook -->
                            <a class="btn-social" href="http://www.facebook.com/sharer.php?u=--URL A COMPARTIR--" target="_blank">
                                <i class="fa fa-facebook" aria-hidden="true"></i>
                            </a>
                            <!-- Google+ -->
                            <a class="btn-social" href="https://plus.google.com/share?url=--URL A COMPARTIR--" target="_blank">
                                <i class="fa fa-google-plus" aria-hidden="true"></i>
                            </a>
                            <!-- Twitter -->
                            <a class="btn-social" href="https://twitter.com/share?url=--URL A COMPARTIR--" target="_blank">
                                <i class="fa fa-twitter" aria-hidden="true"></i>
                            </a>
                        </div>
                    </span>
                    <!--/share-platillo-->
                </div>
            </div>
        </div>
        <!--/ele-res-->
        <div class="ele-res">
            <img src="/assets/img/foods/italian-food-3.jpg" alt="nombre de platillo" />
            <div class="block-data">
                <div class="">
                    <a href="http://localhost:26741/Index/Restaurante" class="name-restaurant">Mi Restarurante</a>
                    <span class="stars-restaurant"><img src="/assets/img/star-1.png" alt="star" /><img src="/assets/img/star-1.png" alt="star" /><img src="/assets/img/star-1.png" alt="star" /><img src="/assets/img/star-2.png" alt="star" /><img src="/assets/img/star-3.png" alt="star" /></span>
                </div>
                <div class="">
                    <a href="http://localhost:26741/Index/Platillo" class="name-platillo">Nombre Platillo</a>
                    <span class="views"><span class="views-platillo">267</span> <i class="fa fa-eye" aria-hidden="true"></i></span>
                </div>
                <div class="">
                    <span class="price-platillo">$0.00</span>
                    <span class="share-platillo tooltip-share">
                        <i class="fa fa-share-alt" aria-hidden="true"></i>
                        <!--tooltip compartir-->
                        <div class="tooltip-share-content">
                            <!-- Facebook -->
                            <a class="btn-social" href="http://www.facebook.com/sharer.php?u=--URL A COMPARTIR--" target="_blank">
                                <i class="fa fa-facebook" aria-hidden="true"></i>
                            </a>
                            <!-- Google+ -->
                            <a class="btn-social" href="https://plus.google.com/share?url=--URL A COMPARTIR--" target="_blank">
                                <i class="fa fa-google-plus" aria-hidden="true"></i>
                            </a>
                            <!-- Twitter -->
                            <a class="btn-social" href="https://twitter.com/share?url=--URL A COMPARTIR--" target="_blank">
                                <i class="fa fa-twitter" aria-hidden="true"></i>
                            </a>
                        </div>
                    </span>
                    <!--/share-platillo-->
                </div>
            </div>
        </div>
        <!--/ele-res-->
        <div class="ele-res">
            <img src="/assets/img/foods/italian-food-4.jpg" alt="nombre de platillo" />
            <div class="block-data">
                <div class="">
                    <a href="http://localhost:26741/Index/Restaurante" class="name-restaurant">Mi Restarurante</a>
                    <span class="stars-restaurant"><img src="/assets/img/star-1.png" alt="star" /><img src="/assets/img/star-1.png" alt="star" /><img src="/assets/img/star-1.png" alt="star" /><img src="/assets/img/star-2.png" alt="star" /><img src="/assets/img/star-3.png" alt="star" /></span>
                </div>
                <div class="">
                    <a href="http://localhost:26741/Index/Platillo" class="name-platillo">Nombre Platillo</a>
                    <span class="views"><span class="views-platillo">267</span> <i class="fa fa-eye" aria-hidden="true"></i></span>
                </div>
                <div class="">
                    <span class="price-platillo">$0.00</span>
                    <span class="share-platillo tooltip-share">
                        <i class="fa fa-share-alt" aria-hidden="true"></i>
                        <!--tooltip compartir-->
                        <div class="tooltip-share-content">
                            <!-- Facebook -->
                            <a class="btn-social" href="http://www.facebook.com/sharer.php?u=--URL A COMPARTIR--" target="_blank">
                                <i class="fa fa-facebook" aria-hidden="true"></i>
                            </a>
                            <!-- Google+ -->
                            <a class="btn-social" href="https://plus.google.com/share?url=--URL A COMPARTIR--" target="_blank">
                                <i class="fa fa-google-plus" aria-hidden="true"></i>
                            </a>
                            <!-- Twitter -->
                            <a class="btn-social" href="https://twitter.com/share?url=--URL A COMPARTIR--" target="_blank">
                                <i class="fa fa-twitter" aria-hidden="true"></i>
                            </a>
                        </div>
                    </span>
                    <!--/share-platillo-->
                </div>
            </div>
        </div>
        <!--/ele-res-->
        <div class="ele-res">
            <img src="/assets/img/foods/italian-food-5.jpg" alt="nombre de platillo" />
            <div class="block-data">
                <div class="">
                    <a href="http://localhost:26741/Index/Restaurante" class="name-restaurant">Mi Restarurante</a>
                    <span class="stars-restaurant"><img src="/assets/img/star-1.png" alt="star" /><img src="/assets/img/star-1.png" alt="star" /><img src="/assets/img/star-1.png" alt="star" /><img src="/assets/img/star-2.png" alt="star" /><img src="/assets/img/star-3.png" alt="star" /></span>
                </div>
                <div class="">
                    <a href="http://localhost:26741/Index/Platillo" class="name-platillo">Nombre Platillo</a>
                    <span class="views"><span class="views-platillo">267</span> <i class="fa fa-eye" aria-hidden="true"></i></span>
                </div>
                <div class="">
                    <span class="price-platillo">$0.00</span>
                    <span class="share-platillo tooltip-share">
                        <i class="fa fa-share-alt" aria-hidden="true"></i>
                        <!--tooltip compartir-->
                        <div class="tooltip-share-content">
                            <!-- Facebook -->
                            <a class="btn-social" href="http://www.facebook.com/sharer.php?u=--URL A COMPARTIR--" target="_blank">
                                <i class="fa fa-facebook" aria-hidden="true"></i>
                            </a>
                            <!-- Google+ -->
                            <a class="btn-social" href="https://plus.google.com/share?url=--URL A COMPARTIR--" target="_blank">
                                <i class="fa fa-google-plus" aria-hidden="true"></i>
                            </a>
                            <!-- Twitter -->
                            <a class="btn-social" href="https://twitter.com/share?url=--URL A COMPARTIR--" target="_blank">
                                <i class="fa fa-twitter" aria-hidden="true"></i>
                            </a>
                        </div>
                    </span>
                    <!--/share-platillo-->
                </div>
            </div>
        </div>
        <!--/ele-res-->
        <div class="ele-res">
            <img src="/assets/img/foods/italian-food-1.jpg" alt="nombre de platillo" />
            <div class="block-data">
                <div class="">
                    <a href="http://localhost:26741/Index/Restaurante" class="name-restaurant">Mi Restarurante</a>
                    <span class="stars-restaurant"><img src="/assets/img/star-1.png" alt="star" /><img src="/assets/img/star-1.png" alt="star" /><img src="/assets/img/star-1.png" alt="star" /><img src="/assets/img/star-2.png" alt="star" /><img src="/assets/img/star-3.png" alt="star" /></span>
                </div>
                <div class="">
                    <a href="http://localhost:26741/Index/Platillo" class="name-platillo">Nombre Platillo</a>
                    <span class="views"><span class="views-platillo">267</span> <i class="fa fa-eye" aria-hidden="true"></i></span>
                </div>
                <div class="">
                    <span class="price-platillo">$0.00</span>
                    <span class="share-platillo tooltip-share">
                        <i class="fa fa-share-alt" aria-hidden="true"></i>
                        <!--tooltip compartir-->
                        <div class="tooltip-share-content">
                            <!-- Facebook -->
                            <a class="btn-social" href="http://www.facebook.com/sharer.php?u=--URL A COMPARTIR--" target="_blank">
                                <i class="fa fa-facebook" aria-hidden="true"></i>
                            </a>
                            <!-- Google+ -->
                            <a class="btn-social" href="https://plus.google.com/share?url=--URL A COMPARTIR--" target="_blank">
                                <i class="fa fa-google-plus" aria-hidden="true"></i>
                            </a>
                            <!-- Twitter -->
                            <a class="btn-social" href="https://twitter.com/share?url=--URL A COMPARTIR--" target="_blank">
                                <i class="fa fa-twitter" aria-hidden="true"></i>
                            </a>
                        </div>
                    </span>
                    <!--/share-platillo-->
                </div>
            </div>
        </div>
        <!--/ele-res-->
        <div class="ele-res">
            <img src="/assets/img/bebidas/bebida-1.jpg" alt="nombre de platillo" />
            <div class="block-data">
                <div class="">
                    <a href="http://localhost:26741/Index/Restaurante" class="name-restaurant">Mi Restarurante</a>
                    <span class="stars-restaurant"><img src="/assets/img/star-1.png" alt="star" /><img src="/assets/img/star-1.png" alt="star" /><img src="/assets/img/star-1.png" alt="star" /><img src="/assets/img/star-2.png" alt="star" /><img src="/assets/img/star-3.png" alt="star" /></span>
                </div>
                <div class="">
                    <a href="http://localhost:26741/Index/Bebidas" class="name-platillo">Nombre Bebida</a>
                    <span class="views"><span class="views-platillo">267</span> <i class="fa fa-eye" aria-hidden="true"></i></span>
                </div>
                <div class="">
                    <span class="price-platillo">$0.00</span>
                    <span class="share-platillo tooltip-share">
                        <i class="fa fa-share-alt" aria-hidden="true"></i>
                        <!--tooltip compartir-->
                        <div class="tooltip-share-content">
                            <!-- Facebook -->
                            <a class="btn-social" href="http://www.facebook.com/sharer.php?u=--URL A COMPARTIR--" target="_blank">
                                <i class="fa fa-facebook" aria-hidden="true"></i>
                            </a>
                            <!-- Google+ -->
                            <a class="btn-social" href="https://plus.google.com/share?url=--URL A COMPARTIR--" target="_blank">
                                <i class="fa fa-google-plus" aria-hidden="true"></i>
                            </a>
                            <!-- Twitter -->
                            <a class="btn-social" href="https://twitter.com/share?url=--URL A COMPARTIR--" target="_blank">
                                <i class="fa fa-twitter" aria-hidden="true"></i>
                            </a>
                        </div>
                    </span>
                    <!--/share-platillo-->
                </div>
            </div>
        </div>
        <!--/ele-res-->
        <div class="ele-res">
            <img src="/assets/img/vinos/vino-1.jpg" alt="nombre de platillo" />
            <div class="block-data">
                <div class="">
                    <a href="http://localhost:26741/Index/Restaurante" class="name-restaurant">Mi Restarurante</a>
                    <span class="stars-restaurant"><img src="/assets/img/star-1.png" alt="star" /><img src="/assets/img/star-1.png" alt="star" /><img src="/assets/img/star-1.png" alt="star" /><img src="/assets/img/star-2.png" alt="star" /><img src="/assets/img/star-3.png" alt="star" /></span>
                </div>
                <div class="">
                    <a href="http://localhost:26741/Index/Vinos" class="name-platillo">Nombre Vino</a>
                    <span class="views"><span class="views-platillo">267</span> <i class="fa fa-eye" aria-hidden="true"></i></span>
                </div>
                <div class="">
                    <span class="price-platillo">$0.00</span>
                    <span class="share-platillo tooltip-share">
                        <i class="fa fa-share-alt" aria-hidden="true"></i>
                        <!--tooltip compartir-->
                        <div class="tooltip-share-content">
                            <!-- Facebook -->
                            <a class="btn-social" href="http://www.facebook.com/sharer.php?u=--URL A COMPARTIR--" target="_blank">
                                <i class="fa fa-facebook" aria-hidden="true"></i>
                            </a>
                            <!-- Google+ -->
                            <a class="btn-social" href="https://plus.google.com/share?url=--URL A COMPARTIR--" target="_blank">
                                <i class="fa fa-google-plus" aria-hidden="true"></i>
                            </a>
                            <!-- Twitter -->
                            <a class="btn-social" href="https://twitter.com/share?url=--URL A COMPARTIR--" target="_blank">
                                <i class="fa fa-twitter" aria-hidden="true"></i>
                            </a>
                        </div>
                    </span>
                    <!--/share-platillo-->
                </div>
            </div>
        </div>
        <!--/ele-res-->
    </section>
    <!--/Resultados-->
    <!--/Header Resultados-->
</div>


<!--scripts java-->
<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="https://use.fontawesome.com/4af7e176a2.js"></script>
<script>
    $(document).ready(function () {
        //tooltip share
        $(".tooltip-share").click(function () {
            var opaTool = $(this).children(".tooltip-share-content");
            if (opaTool.css("opacity") == 0) {
                opaTool.css("visibility", "visible");
                opaTool.css("opacity", "1");
            } else {
                opaTool.css("visibility", "hidden");
                opaTool.css("opacity", "0");
            }
        });
        $(document).on('click', function (e) {
            var selectClick = $(e.target).parents();
            var _into = true;
            selectClick.each(function () {
                if ($(this).hasClass("tooltip-share")) {
                    _into = false;
                    return false;
                }
            });
            if (_into) {
                $('.tooltip-share-content').css("visibility", "hidden");
                $('.tooltip-share-content').css("opacity", "0");
            }
        });
        ////////////////////
        //ordenar resultados
        function orderResult() {
            //variables
            var HElemento = false, MElemento = false, rowCount = 1, marginStatus = false, maxColumn = 5, twoColumn = false;
            var mediaquery992 = window.matchMedia("(max-width:992px)"), mediaquery767 = window.matchMedia("(max-width:767px)"), sizeGal = "ele-res-4";
            //comprobacion de ancho pantalla
            if (mediaquery767.matches) {
                sizeGal = "ele-res-1";
                maxColumn = $(".ele-res").length + 1;
            } else if (mediaquery992.matches) {
                sizeGal = "ele-res-2";
                maxColumn = 3;
            } else {
                sizeGal = "ele-res-4";
                maxColumn = 5;
            }
            //alinear resultados
            //limpiar clases
            $(".ele-res").attr("class", "");
            $(".resultados > div").addClass("ele-res");
            $(".ele-res").each(function () {
                //contador de renglones
                if (rowCount == maxColumn) {
                    marginStatus = true;
                    rowCount = 1;
                    switch (HElemento) {
                        case false:
                            HElemento = true;
                            break;
                        case true:
                            HElemento = false;
                            break;
                    }
                }
                //asignacion de clases altura y ancho
                $(this).addClass(sizeGal);
                switch (HElemento) {
                    case false:
                        $(this).addClass("ele-res-lg");
                        HElemento = true;
                        break;
                    case true:
                        $(this).addClass("ele-res-sm");
                        HElemento = false;
                        break;
                }
                //asginacion de margen igualador
                if (marginStatus) {
                    if (maxColumn == 3) {
                        if (rowCount == 1 && $(this).hasClass("ele-res-sm")) {
                            twoColumn = true;
                        }
                        if (twoColumn && rowCount == 2) {
                            twoColumn = false;
                            $(this).addClass("menos-margin");
                        }
                    } else {
                        switch (MElemento) {
                            case false:
                                MElemento = true;
                                break;
                            case true:
                                MElemento = false;
                                $(this).addClass("menos-margin");
                                break;
                        }
                    }
                }
                rowCount++;
            });
        }
        //orderResult
        orderResult();
        //llamado a funcion con rezise
        $(window).resize(function () {
            orderResult();
        });
    });
</script>
